<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <p>
        <form action="/register" method="post">
            id: <input type="text" name="id">
            password: <input type="text" name="password">
            name: <input type="text" name="name">
            birthday: <input type="text" name="birth">
            phon number: <input type="text" name="phonnum">
            email :<input type="text" name="email">
            <label><input type="checkbox" name="employ" value='yes'>사업자</label>
            <input type="submit" value="가입">
        </form>
    </p>
</body>
</html>